#primary_div {
    width: 350px;
}

.text_underline {
    text-decoration: underline;
}

.highlight_orange {
    background: orange;
}

.text_red_emphasis {
    color:red;
    font-weight: bold;
}